body{
    background-color: #34abeb;
    text-align: center;
}

div.main{
    background-color: #2b5b99;
    height: 700px;
    width: 550px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 150%;
    vertical-align:top;
   
}

.button {
    background-color: white;
    color: #2b5b99;
    border: none;
    text-align: center;
    padding-top: 0px;
    width: 220px;
    height: 50px;
    margin-top: 25px;
    font-size: 80%;
  }

  .rounded-corners {
    border-radius: 10px;
  }